
/* 1.) A div with solid border and left margin 50px.

2.) A title with a rounded red 8px groove border, auto margin.

3.) A paragraph with a black 5px dotted border, inherit the left margin and initialize top margin 8px.
4.) Use shorthand  */

.DIV
{
    border-style: solid;
    margin-left: 50px;
    border-color: red;
    justify-content: center;
    display: flex;
    max-width: fit-content;
}

.Title
{
    border-color: red;
    border-style: solid;
    border-radius: 8px;
    max-width: fit-content;
    margin: auto;
}
.Paragraph
{
    border: dotted;
    margin-left: inherit;
    margin-top: 8px;
    max-width: fit-content;
}